body {
    background-color: #350101;
    font-family: var(--font-dm-sans);
}

#sidebar {
    position: fixed;
    bottom: 0; 
    left: 0;
    top: 0;
    padding: 10px;
    width: 300px;
}

.elements__sidebar {
    background-color: var(--color-elements);
    border-radius: 8px;
    padding: 12px 12px 0 12px;
}

#navigation__logo {
    display: flex;
    border-radius: 8px;
    padding: 5px 0 0 5px;
}

#navigation__logo img {
    width: 100px;
}

#sidebar__navigation nav ul {
    padding: 0 20px 10px 0;
    margin-top: 20px;
}

#sidebar__navigation ul li {
    padding: 10px;
}

.navigation-text {
    color: var(--color-elements-text);
    font-size: 15px;
    text-decoration: none;
}

.navigation-text:hover {
    color: var(--color-elements-text_hover);
}

#sidebar__library {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

#library__content {
    display: flex;
    justify-content: space-between;
}

.library__button {
    background-color: transparent;
    border: none;
    color: var(--color-elements-text);
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
}

.library__button-text:hover {
    color: var(--color-elements-text_hover);
}

.library__button-text .fa-book{
    padding-right: 8px;
}

#section-playlist {
    background-color: #dc3939;
    border-radius: 8px;
    display: flex;  
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    font-size: 14px;
    padding: 16px 20px;
    margin: 10px 0;
}

#section-playlist__content {
    display: flex;
    flex-direction: column;
}

.section-playlist__text {
    color: #ffffff;
    padding-bottom: 15px;
}

#section-playlist__title {
    font-weight: 700;
}

#section-playlist__subtitle {
    font-size: 13px;
}

#section-playlist__button {
    border: none;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 100px;
    font-size: 12px;
    font-weight: 700;
    padding: 10px;
    margin-top: 10px;
}

#section-playlist__button:hover {
    background-color: var(--color-elements-buttons_hover);
    font-size: 13px;
    width: 103px;   
}

#cookies {
    margin: 25px 20px;
}

#cookies a {
    color: var(--color-elements-text);
    font-size: 12px; 
    text-decoration: none;
}

#cookies a:hover {
    color: #ffffff;
    text-decoration: underline;
}

#languages__button {
    background-color: transparent;
    border: 1px solid;
    border-color: #787878;
    border-radius: 20px;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    width: 175px;
    padding: 8px;
    margin: 8px;
}

#languages__button:hover {
    border: 1px solid;
    border-color: #ffffff;
    font-size: 15px;
    width: 185px;
}

#languages__button .fa-globe {
    padding-right: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer__content {
    background: linear-gradient(to left, #c50c0c, #dc3939);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer__content-text {
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.footer__content-title {
    font-weight: 700;
    padding-bottom: 10px;
}

.footer__content-button {
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    width: 175px;
    padding: 10px;
}

.footer__content-button:hover {
    background-color: var(--color-elements-buttons_hover);
    font-size: 16px;
    width: 178px;
}