footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: 0.3s ease;
}

.footer__content {
    background: var(--color-gradient);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer__content-text {
    color: var(--color-titles);
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.footer__content-title {
    font-weight: 700;
    padding-bottom: 10px;
}

.footer__content-button {
    background-color: var(--color-button);
    border: none;
    border-radius: 20px;
    color: var(--color-button-text);
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    width: 175px;
    padding: 10px;
    margin-left: 32px;
    transition: 0.3s ease;
}

.footer__content-button:hover {
    background-color: var(--color-button_hover);
    transform: scale(1.04);
    transition: 0.3s ease;
}